@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-primary: #312e81;
  --color-secondary: #4c51bf;
  --color-accent: #6366f1;
  --color-text: #1f2937;

  --radius: 0.5rem;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-background text-text font-sans;
}

@layer components {
  .card {
    @apply bg-white shadow-sm rounded-2xl p-4 border border-gray-100 hover:shadow-md transition-shadow;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-medium text-white bg-primary hover:bg-secondary transition-colors;
  }

  .title {
    @apply text-2xl font-semibold text-primary mb-4;
  }
}
